<div class="page-container">
    <h1 style="align-self: center;">Contacts page</h1>
    <div class="top__footer">
        <div class="delivery">
            <img src="~/images/footer/deliver.svg" alt>
            <h1>Free Delivery</h1>
            <p>
                Worldwide delivery on all. Authorit tively morph
                next-generation innov tion with extensive models.
            </p>
        </div>
        <div class="sales">
            <img src="~/images/footer/sales.svg" alt>
            <h1>Sales & discounts</h1>
            <p>
                Worldwide delivery on all. Authorit tively morph
                next-generation innov tion with extensive models.
            </p>
        </div>
        <div class="quality">
            <img src="~/images/footer/quality.svg" alt>
            <h1>Quality assurance</h1>
            <p>
                Worldwide delivery on all. Authorit tively morph
                next-generation innov tion with extensive models.
            </p>
        </div>
    </div>
    <div class="middle__footer">
        <section>
            <img src="~/images/footer/article.svg" alt>
            <article>
                “Vestibulum quis porttitor dui! Quisque viverra nunc mi,
                a pulvinar purus condimentum“
            </article>
        </section>
        <div class="subscribe">
            <h1>SUBSCRIBE</h1>
            <h2>FOR OUR NEWLETTER AND PROMOTION</h2> <br>
            <div class="sub-window">
                <form action="#">
                    <input type="email" placeholder="Enter Your Email"><button type="submit">
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>