<div class="page-container">
    <h1 style="align-self: center;">Home page</h1>

    <div class="main">
        <div class="top">
            <div class="img_1">
                <img class="img" src="~/images/main/top_block/photo_1.svg" alt>
                <div class="blure blure1">
                    <h1 class="women">30% OFF<br><span>FOR WOMEN</span></h1>
                </div>
            </div>

            <div class="img_2">
                <img class="img" src="~/images/main/top_block/photo_2.svg" alt>
                <div class="blure blure2">
                    <h1 class="men">HOT DEAL<br><span>FOR MEN</span></h1>
                </div>
            </div>

            <div class="img_3">
                <img class="img" src="img/main/top_block/photo_3.svg" alt>
                <div class="blure blure3">
                    <h1 class="kids">NEW ARRIVALS<br><span>FOR KIDS</span></h1>
                </div>

            </div>

            <div class="img_4">
                <img class="img4" src="img/main/top_block/photo_4.svg" alt>
                <div class="blure4">
                    <h1 class="accesories">LUXIROUS & TRENDY<br><span>ACCESORIES</span></h1>
                </div>
            </div>
        </div>
    </div>

</div>