<div class="page-container">
    <h1 style="align-self: center;">Produts page</h1>
    <div class="main">
        <div class="products">

            <div class="title">
                <h1>Fetured Items</h1>
                <p>Shop for items based on what we featured in this week</p>
            </div>

            <div class="items">
                <div class="item item_1">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img class="photo_1" src="~/images/main/products/photo_1.svg"
                         alt="images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>

                <div class="item item_2">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img class="photo_2" src="~/images/main/products/photo_2.svg"
                         alt="~/images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>

                <div class="item item_3">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img src="~/images/main/products/photo_3.svg" alt="images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>

                <div class="item item_4">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img src="~/images/main/products/photo_4.svg" alt="images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>

                <div class="item item_5">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img src="~/images/main/products/photo_5.svg" alt="images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>

                <div class="item item_6">
                    <a href="#" class="add">
                        <span>
                            <img src="~/images/main/products/buy_icon.svg" alt="images">Add
                            to Cart
                        </span>
                    </a>
                    <img src="~/images/main/products/photo_6.svg" alt="images">
                    <h1>ELLERY X M'O CAPSULE</h1>
                    <p class="info">
                        Known for her sculptural takes on
                        traditional
                        tailoring, Australian arbiter of cool Kym Ellery
                        teams up with Moda Operandi.
                    </p>
                    <p class="price">$52.00</p>
                </div>
            </div>
            <div class="button">
                <button>Browse All Product</button>
            </div>
        </div>
    </div>
</div>